div.postCard{
    display: flex;
    justify-content: center;
    background-image: url('image/fondo-instagram.jpg');
    background-repeat: no-repeat;       /* No repetir la imagen */
    background-position: center;        /* Centrar la imagen */
    background-size: cover;             /* Cubrir todo el fondo */
    background-attachment: fixed;       /* (Opcional) Imagen fija al hacer scroll */
    width: 40% auto;
    height: 73vh;
    margin: 0 390px;
    padding: 3% 10%;
    border-radius: 4%;

}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    visibility: hidden;
}

div.card{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30% auto;
    height: 80% auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.header-card{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-card-user-info{
    display: flex;
    align-items: center;
}

.header-card-user{
    font-size: x-large;
    padding: 2px 7px;
    background-color: rgb(210, 208, 208);
    color: rgb(166, 164, 164);
    border: 1px solid rgb(255, 1, 234);
    border-radius: 50%;
}
.header-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: x-small;
}
.header-card-city{
    
    color: rgb(166, 164, 164);
}
.header-card .fa-ellipsis-vertical{
    color: rgb(166, 164, 164);
    font-size: normal;
}
div.image{
    width: 100%;
    height: 100%;
    background-image: url(/css/image/fondo-cuadricula.png);
}
div.image img{
    width: 100%;
    visibility: hidden;
}
div.content-card{
    margin: 2px;
    padding: 10px;
}
.content-card-icons{
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.content-card-icons-varios{
    display: flex;
    gap: 10px;
}
.content-card-icons-varios .fa-heart{
    color: rgba(255, 0, 85, 0.959);
}
.content-card-likes{
    margin: 10px 0;
    gap: 10px 0;
    font-size: x-small;
    
}
.content-card-likes i {
        font-size: x-small;
        margin-right: 5px;
 }
.content-card-person h4{
    margin: 0;
    font-size: x-small;
    font-weight: normal;
    
}
.content-card-hashtag{
    color: #0095f6;
    font-size: x-small;
}

